@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #ece9e6;
  background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
  background: linear-gradient(to right, #ffffff, #ece9e6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.mobile-container {
  background-color: #ffffff;
  box-shadow: 0 0 5px #3333331a;
  border-radius: 3px;
  overflow: hidden;
  width: 400px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

header input {
  background-color: #eee;
  border: none;
  border-radius: 3px;
  padding: 0.5 rem 1rem;
  font-family: inherit;
}

header button {
  background-color: transparent;
  border: none;
  color: rgb(138, 129, 141);
  font-size: 1.5rem;
  margin-left: 10px;
}

header svg {
  height: 2rem;
  margin-left: 10px;
  color: #eee;
  cursor: pointer;
}

header svg:hover {
  color: #000;
}

.fav-container {
  background-color: rgba(233, 199, 255);
  padding: 0.25rem 1rem;
  text-align: center;
}

.fav-meals {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.fav-meals li {
  margin: 5px;
  width: 75px;
}

.fav-meals li img {
  border: 2px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 0 5px #3333331a;
  object-fit: cover;
  height: 70px;
  width: 70px;
}

.fav-meals li span {
  font-size: 0.9rem;
}

.meal {
  border-radius: 3px;
  box-shadow: 0 0 5px #3333331a;
  margin: 1.5rem;
  overflow: hidden;
}

.meal-header {
  position: relative;
}

.meal-header .random {
  position: absolute;
  top: 1rem;
  background-color: #fff;
  padding: 0.25rem 0.5rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.meal-header img {
  object-fit: cover;
  height: 300px;
  width: 100%;
}

.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.meal-body h4 {
  margin: 0;
}

.meal-body .fav-btn {
  border: none;
  background: transparent;
}

.meal-body .fav-btn svg {
  height: 1rem;
  cursor: pointer;
}

.meal-body .fav-btn:hover svg {
  fill: #777777;
}

.meal-body .fav-btn.active svg {
  fill: rgb(216, 0, 0);
}

.fav-meals button.clear {
  border: none;
  background: transparent;
}

.fav-meals button.clear svg {
  height: 1rem;
  cursor: pointer;
}
